@font-face {
    font-family: 'Epilogue';
    src: url('Epilogue-Italic.woff2') format('woff2'),
        url('Epilogue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Epilogue';
    src: url('Epilogue-Regular.woff2') format('woff2'),
        url('Epilogue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

